<h1 style="text-align: center;"><b>Weather Data Processing</b></h1>

In [132]:
import pandas as pd
import os

In [228]:
# Set folder path relative to notebook
folder = "Greenwich"

In [229]:
# Load CSVs from inside the folder
df1 = pd.read_csv(os.path.join(folder, "Greenwich_1.csv"))
df2 = pd.read_csv(os.path.join(folder, "Greenwich_2.csv"))
#df3 = pd.read_csv(os.path.join(folder, "Islington_3.csv"))

In [230]:
# Merge them into one DataFrame
merged_df = pd.concat([df1, df2], ignore_index=True)

In [231]:
# Convert 'datetime' to proper datetime format and sort
merged_df['datetime'] = pd.to_datetime(merged_df['datetime'])
merged_df = merged_df.sort_values('datetime').reset_index(drop=True)

In [232]:
# Preview the result
merged_df.head(10)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,SE10 8XJ,2019-01-01,10.7,5.9,8.5,10.7,3.4,6.6,4.4,75.6,...,1.4,1,NaN,2019-01-01T08:05:36,2019-01-01T16:01:28,0.84,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"03769099999,03680099999,D5621,03781099999,0367..."
1,SE10 8XJ,2019-01-02,6.2,4.7,5.3,4.5,2.3,3.3,0.5,70.8,...,1.5,1,NaN,2019-01-02T08:05:30,2019-01-02T16:02:32,0.88,Overcast,Cloudy skies throughout the day.,cloudy,"03769099999,03680099999,D5621,03781099999,0367..."
2,SE10 8XJ,2019-01-03,5.4,3.2,4.7,4.7,2.9,4.0,-0.7,68.5,...,1.2,1,NaN,2019-01-03T08:05:20,2019-01-03T16:03:38,0.91,Overcast,Cloudy skies throughout the day.,cloudy,"03769099999,03680099999,D5621,03781099999,0367..."
3,SE10 8XJ,2019-01-04,4.4,1.8,3.0,3.0,0.6,1.8,-1.5,72.7,...,2.3,2,NaN,2019-01-04T08:05:06,2019-01-04T16:04:47,0.95,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"03769099999,03680099999,D5621,03781099999,0367..."
4,SE10 8XJ,2019-01-05,5.7,3.7,4.7,4.4,1.0,2.5,0.8,75.6,...,0.5,0,NaN,2019-01-05T08:04:50,2019-01-05T16:05:59,0.98,Overcast,Cloudy skies throughout the day.,cloudy,"03769099999,03680099999,D5621,03781099999,0367..."
5,SE10 8XJ,2019-01-06,9.7,5.3,7.4,8.7,3.6,5.9,4.1,79.9,...,1.2,1,NaN,2019-01-06T08:04:30,2019-01-06T16:07:13,0.00,Overcast,Cloudy skies throughout the day.,cloudy,"03769099999,03680099999,D5621,03781099999,0367..."
6,SE10 8XJ,2019-01-07,10.9,7.7,9.3,10.9,5.9,8.1,6.5,82.9,...,1.3,1,NaN,2019-01-07T08:04:07,2019-01-07T16:08:30,0.05,Overcast,Cloudy skies throughout the day.,cloudy,"03769099999,03680099999,D5621,03781099999,0367..."
7,SE10 8XJ,2019-01-08,9.4,4.6,7.4,6.7,2.3,4.6,2.0,68.5,...,2.2,2,NaN,2019-01-08T08:03:40,2019-01-08T16:09:48,0.08,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,"03769099999,03680099999,D5621,03781099999,0367..."
8,SE10 8XJ,2019-01-09,6.1,3.3,4.3,2.6,-0.2,0.9,0.4,75.9,...,2.0,1,NaN,2019-01-09T08:03:11,2019-01-09T16:11:09,0.11,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"03769099999,03680099999,D5621,03781099999,0367..."
9,SE10 8XJ,2019-01-10,5.6,2.0,3.6,3.6,-0.8,1.6,1.3,85.2,...,0.9,1,NaN,2019-01-10T08:02:38,2019-01-10T16:12:32,0.15,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"03769099999,03680099999,D5621,03781099999,0367..."

In [233]:
# Select only the desired columns
columns_to_keep = [
    "name", "datetime", "tempmax", "tempmin", "temp",
    "humidity", "precip", "snow", "windspeed", "visibility"
]

In [234]:
filtered_df = merged_df[columns_to_keep]

In [235]:
# Preview the result
filtered_df.head(10)

,name,datetime,tempmax,tempmin,temp,humidity,precip,snow,windspeed,visibility
0,SE10 8XJ,2019-01-01,10.7,5.9,8.5,75.6,0.0,0.0,10.9,23.4
1,SE10 8XJ,2019-01-02,6.2,4.7,5.3,70.8,0.0,0.0,7.6,16.8
2,SE10 8XJ,2019-01-03,5.4,3.2,4.7,68.5,0.0,0.0,4.7,20.2
3,SE10 8XJ,2019-01-04,4.4,1.8,3.0,72.7,0.0,0.0,7.5,8.5
4,SE10 8XJ,2019-01-05,5.7,3.7,4.7,75.6,0.0,0.0,9.4,12.2
5,SE10 8XJ,2019-01-06,9.7,5.3,7.4,79.9,0.0,0.0,7.9,12.9
6,SE10 8XJ,2019-01-07,10.9,7.7,9.3,82.9,0.0,0.0,15.6,18.1
7,SE10 8XJ,2019-01-08,9.4,4.6,7.4,68.5,0.0,0.0,13.9,15.7
8,SE10 8XJ,2019-01-09,6.1,3.3,4.3,75.9,0.0,0.0,12.9,17.7
9,SE10 8XJ,2019-01-10,5.6,2.0,3.6,85.2,0.0,0.0,6.8,5.0

In [236]:
# Set all values in the 'name' column to borough name
filtered_df['name'] = "Greenwich"

C:\Users\ruibi\AppData\Local\Temp\ipykernel_7096\4024078996.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['name'] = "Greenwich"

In [237]:
# Preview the result
filtered_df.head(10)

,name,datetime,tempmax,tempmin,temp,humidity,precip,snow,windspeed,visibility
0,Greenwich,2019-01-01,10.7,5.9,8.5,75.6,0.0,0.0,10.9,23.4
1,Greenwich,2019-01-02,6.2,4.7,5.3,70.8,0.0,0.0,7.6,16.8
2,Greenwich,2019-01-03,5.4,3.2,4.7,68.5,0.0,0.0,4.7,20.2
3,Greenwich,2019-01-04,4.4,1.8,3.0,72.7,0.0,0.0,7.5,8.5
4,Greenwich,2019-01-05,5.7,3.7,4.7,75.6,0.0,0.0,9.4,12.2
5,Greenwich,2019-01-06,9.7,5.3,7.4,79.9,0.0,0.0,7.9,12.9
6,Greenwich,2019-01-07,10.9,7.7,9.3,82.9,0.0,0.0,15.6,18.1
7,Greenwich,2019-01-08,9.4,4.6,7.4,68.5,0.0,0.0,13.9,15.7
8,Greenwich,2019-01-09,6.1,3.3,4.3,75.9,0.0,0.0,12.9,17.7
9,Greenwich,2019-01-10,5.6,2.0,3.6,85.2,0.0,0.0,6.8,5.0

In [238]:
# Check for duplicates in the datetime column
duplicate_dates = filtered_df[filtered_df.duplicated(subset='datetime')]

print("Duplicate dates:")
print(duplicate_dates)

Duplicate dates:
Empty DataFrame
Columns: [name, datetime, tempmax, tempmin, temp, humidity, precip, snow, windspeed, visibility]
Index: []

In [239]:
# Create a complete date range from min to max date
full_range = pd.date_range(start=filtered_df['datetime'].min(),
                           end=filtered_df['datetime'].max(),
                           freq='D')

# Find missing dates
existing_dates = pd.to_datetime(filtered_df['datetime'].unique())
missing_dates = full_range.difference(existing_dates)

print(f"Missing dates ({len(missing_dates)}):")
print(missing_dates)

Missing dates (0):
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [172]:
clean_df = filtered_df.drop_duplicates(subset='datetime', keep='first')

In [173]:
# Preview the result
clean_df.head(10)

,name,datetime,tempmax,tempmin,temp,humidity,precip,snow,windspeed,visibility
0,Islington,2019-01-01,11.0,6.4,8.8,74.3,0.0,0.0,11.0,21.9
2,Islington,2019-01-02,6.6,5.1,5.8,68.7,0.0,0.0,7.7,16.2
4,Islington,2019-01-03,5.6,4.0,5.1,66.3,0.0,0.0,5.0,20.0
6,Islington,2019-01-04,5.0,2.5,3.6,69.8,0.0,0.0,7.5,8.5
8,Islington,2019-01-05,6.1,4.0,5.1,73.8,0.0,0.0,8.9,11.4
10,Islington,2019-01-06,10.1,5.6,7.7,78.5,0.0,0.0,8.1,12.2
12,Islington,2019-01-07,11.1,8.1,9.6,81.7,0.0,0.0,16.2,16.8
14,Islington,2019-01-08,10.0,5.5,7.9,66.3,0.0,0.0,13.7,15.5
16,Islington,2019-01-09,6.5,3.6,4.8,73.8,0.0,0.0,12.4,16.8
18,Islington,2019-01-10,5.7,2.6,4.1,83.1,0.0,0.0,6.6,5.3

In [174]:
# Check for duplicates in the datetime column
duplicate_dates = clean_df[filtered_df.duplicated(subset='datetime')]

print("Duplicate dates:")
print(duplicate_dates)

Duplicate dates:
Empty DataFrame
Columns: [name, datetime, tempmax, tempmin, temp, humidity, precip, snow, windspeed, visibility]
Index: []

C:\Users\ruibi\AppData\Local\Temp\ipykernel_7096\2888034088.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  duplicate_dates = clean_df[filtered_df.duplicated(subset='datetime')]

In [240]:
filtered_df.to_csv("Greenwich.csv", index=False)

In [175]:
clean_df.to_csv("Islington.csv", index=False)